mule-maven-deploy-cloudhub-test/mule-maven-deploy-cloudhub-test/src/main/mule/mule-maven-deploy-cloudhub-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="affa665d-baf5-4dca-b355-c000b497c11f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-maven-deploy-cloudhub-testFlow" doc:id="da6ff992-cead-41ed-8012-cb4b5c74639f" >
		<http:listener doc:name="Listener" doc:id="db06d302-e801-4f16-888a-52c6f01310aa" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Maven Deployment Plugin Test - Success"]' doc:name="Set Payload Hello1" doc:id="b311b743-5097-4bb7-861a-e84dca7138b2" />
	</flow>
</mule>
